footer
	.container
		.row
			.col-sm-12
				a.footer__logo(href='index.html')
					img(src='../assets/images/logo_text.png', alt='logo text')
				.footer__list
					ul.list-inline.text-right
						li
							a.a--footer(href="about.html") Apie mus  
						li 
							a.a--footer(href="services.html") Paslaugos
						li
							a.a--footer(href="#") Informacija pacientams 
						li 
							a.a--footer(href="science.html") Mokslas
						li
							a.a--footer(href="team.html") Komanda 
						li 
							a.a--footer(href="contacts.html") Kontaktai 