doctype html
hmtl(lang="en")
	head
		title Kompetencijos centras
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width", initial-scale=1) 
		link(rel="stylesheet", href=href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" )
		link(rel="stylesheet", href="assets/css/style.css")
		link(rel="stylesheet", href="assets/fonts/stylesheet.css")
		

body

	img.logo(src="assets/images/logo.png") 
	
	.container
		.row
			.col-lg-8
				h1 Retų inkstų ligų ir urogenitalinės sistemos formavimosi ydų 
					span.h1--state-bold kompetencijos centras
			.col-lg-4