doctype html
html(lang="en")
	include includes/head.pug
		
		
	body

		+header
			

		section#hero
			.hero__content
				.container
					.row
						.col-lg-8.col-md-8
							h1 Retų inkstų ligų ir urogenitalinės sistemos formavimosi ydų 
								span.h1--state-bold kompetencijos centras
							a.a--btn(href="index.html", target="_blank") Paslaugos
							// sitas a nurodzius .hero__content__text buti centre, apsimeta, kad nepriklauso tam elementui???
						//.hero__content__image.col-lg-4.col-md-4
							img(src='assets/images/inkstai.jpg', alt='inkstai')
							
							
							
		main
			.about__content
				.container
					.row
						.col-lg-8.col-md-8.col-md-offset-4
								h2 Apie centrą
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget vulputate libero, fermentum ornare sem. Maecenas maximus sagittis ante non dapibus. Sed ut erat posuere, viverra est eget, iaculis est. Aliquam ac purus urna. Praesent viverra ex felis, at rutrum diam malesuada non. Aliquam eu faucibus odio, nec eleifend risus. 
								p Nam varius facilisis augue, ut ullamcorper nisi rhoncus eget. Aenean et tortor pretium, cursus ipsum ac paskutine matoma eilute?


		section.information
			.information__blocks
				.container
					.row
						.col-lg-4.col-md-4
							
							//mixin information_blocks(title, text, link, link_headline)
							.information__blocks__content
								+information_blocks("Paslaugos", 
								"Aenean venenatis fringilla nulla, sed dapibus ligula consectetur sed. Donec posuere elit non dolor blandit venenatis.", 
								"index.html", 
								"Paslaugos")
						.col-lg-4.col-md-4
							.information__blocks__content.aside
								+information_blocks("Bendra informacija", 
								"Nullam ullamcorper, lectus sit amet vestibulum efficitur, odio ante posuere sapien, eget euismod mi enim mattis.", "#",
								"Bendra informacija")
						.col-lg-4.col-md-4
							.information__blocks__content.aside
								+information_blocks("Apie ligas", 
								"Nullam ullamcorper, lectus sit amet vestibulum efficitur, odio ante posuere sapien, eget euismod mi enim mattis nibh. Aenean eleifend auctor aliquam.", "#",
								"Apie ligas ")

		+footer


		include includes/js.pug

									
									



