doctype html
html(lang="en")
	include includes/head.pug

body
	+header
	
	

	nav(aria-label='breadcrumb')
		ol.breadcrumb
			li.breadcrumb-item
				a.a--breadcrumb(href='index.html') Pagrindinis
			li.breadcrumb-item(aria-current='page') Paslaugos
		
	article.services
		.container
			.row
				.col-sm-12
					h2 Paslaugos
						
					
					.services__row
						a.a--services#service-1st(href="services-inside.html", target='_blank')
							.row
								.col-sm-10
									h3 Paslauga 1
									p Donec vel vulputate lorem. Sed convallis a nulla eget auctor. Maecenas ut egestas justo. Cras egestas mauris eu ex blandit, sollicitudin suscipit lectus lobortis. Integer id laoreet lectus. Nunc lobortis auctor ligula, quis ullamcorper augue finibus et.
								.col-sm-2
									a.a-information_block.services-arrow(href="services-inside.html", target='_blank') →	
					.services__row
						a.a--services#service-2nd(href="services-inside_service-1st.html", target='_blank')
							.row
								.col-sm-10
									h3 Paslauga 2
									p Donec vel vulputate lorem. Sed convallis a nulla eget auctor. Maecenas ut egestas justo. Cras egestas mauris eu ex blandit, sollicitudin suscipit lectus lobortis. Integer id laoreet lectus. Nunc lobortis auctor ligula, quis ullamcorper augue finibus et.
								.col-sm-2
									a.a-information_block.services-arrow(href="about.html", target='_blank') →				
					.services__row
						.row
							a.a--services(href="services-inside.html", target='_blank')
								.col-sm-10
									h3 Paslauga 3
									p Donec vel vulputate lorem. Sed convallis a nulla eget auctor. Maecenas ut egestas justo. Cras egestas mauris eu ex blandit, sollicitudin suscipit lectus lobortis. Integer id laoreet lectus. Nunc lobortis auctor ligula, quis ullamcorper augue finibus et.
								.col-sm-2
									a.a-information_block.services-arrow(href="about.html", target='_blank') →	
														
					.services__row
						a.a--services(href="services-inside.html", target='_blank')
							.row
								.col-sm-10
									h3 Paslauga 4
									p Donec vel vulputate lorem. Sed convallis a nulla eget auctor. Maecenas ut egestas justo. Cras egestas mauris eu ex blandit, sollicitudin suscipit lectus lobortis. Integer id laoreet lectus. Nunc lobortis auctor ligula, quis ullamcorper augue finibus et.
								.col-sm-2
									a.a-information_block.services-arrow(href="about.html", target='_blank') →	
					.services__row
						a.a--services(href="services-inside.html", target='_blank')
							.row
								.col-sm-10
									h3 Paslauga 5
									p Donec vel vulputate lorem. Sed convallis a nulla eget auctor. Maecenas ut egestas justo. Cras egestas mauris eu ex blandit, sollicitudin suscipit lectus lobortis. Integer id laoreet lectus. Nunc lobortis auctor ligula, quis ullamcorper augue finibus et.
								.col-sm-2
									a.a-information_block.services-arrow(href="about.html", target='_blank') →				
					.services__row
						.row
							a.a--services(href="services-inside.html", target='_blank')
								.col-sm-10
									h3 Paslauga 6
									p Donec vel vulputate lorem. Sed convallis a nulla eget auctor. Maecenas ut egestas justo. Cras egestas mauris eu ex blandit, sollicitudin suscipit lectus lobortis. Integer id laoreet lectus. Nunc lobortis auctor ligula, quis ullamcorper augue finibus et.
								.col-sm-2
									a.a-information_block.services-arrow(href="about.html", target='_blank') →	

	
	+footer



	
	//include includes/js.pug

	script(src="assets/scripts/jquery-1.12.4.min.js")
	script(src="assets/scripts/custom.js")

						