doctype html
html(lang="en")
	include includes/head.pug

body
	+header
	
	

	nav(aria-label='breadcrumb')
		ol.breadcrumb
			li.breadcrumb-item
				a.a--breadcrumb(href='index.html') Pagrindinis
			li.breadcrumb-item
				a.a--breadcrumb(href='services.html') Paslaugos
			li.breadcrumb-item(aria-current='page') Paslauga
			
	article.inside__service
		.container
			.row
				.col-md-12
					h2 Paslaugos pavadinimas
			.row

				.col-lg-3.col-md-3.col-sm-12
					.inside__service__list
						ul
							li#service-1st Paslaugos pavadinimas 1
							li#service-2nd Paslaugos pavadinimas 2
							li#service-3rd Paslaugos pavadinimas 3
							li#service-4th Paslaugos pavadinimas 4
							li#service-5th Paslaugos pavadinimas 5 
							li#service-6th Paslaugos pavadinimas 6


				.col-lg-9.col-md-9.col-sm-12
					.about__text.service-1st.hide 	
						p PIRMAS Praesent varius lacus nisl, suscipit iaculis mauris rhoncus nec. Vivamus a rhoncus orci. Maecenas eu nulla eget ex aliquet faucibus. Praesent ut malesuada arcu. Nam ut luctus sem, eget tempus purus. Nam leo purus, scelerisque eu dictum non, feugiat eu eros. Donec in ante nec quam varius suscipit vitae et eros. Praesent sed euismod eros. Vivamus elit lacus, facilisis nec dui mattis, viverra cursus nibh. Duis faucibus tellus finibus mauris lacinia consectetur. Fusce ultrices, tortor cursus elementum sollicitudin, ex sem blandit metus, ac vestibulum dolor lacus ac turpis.

						p Sed nec sapien ut magna placerat volutpat. Cras congue orci at mi luctus, ut congue odio tincidunt. Ut consequat convallis libero nec rutrum. Curabitur rutrum iaculis massa quis facilisis. Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urna. Vestibulum varius vitae dui in tempus. Integer sit amet porttitor eros. Suspendisse libero felis, rutrum eget aliquam sit amet, vehicula eget nunc. Aliquam lobortis facilisis urna eget commodo. Aliquam et arcu bibendum, bibendum eros vitae, varius tellus.

						p Nam ornare, nunc sit amet sodales congue, ligula augue porta nulla, vitae dictum lacus lacus eu sapien. Etiam maximus, libero at sollicitudin placerat, elit sapien placerat libero, id tempor purus purus quis dui. Integer libero est, pulvinar nec lacinia in, tincidunt a justo. Integer finibus sapien ac velit viverra vulputate. Integer ultrices, elit in blandit venenatis, est dolor dapibus arcu, in mattis mauris nibh ut tortor. Nam interdum ex non turpis pellentesque consequat. Mauris non ligula bibendum quam suscipit hendrerit non eu dui.

						p Phasellus id arcu augue. Suspendisse ornare nibh sit amet faucibus maximus. Integer mollis suscipit ante, eget euismod orci volutpat sit amet. Integer auctor mi tellus, at feugiat arcu consequat scelerisque. Donec laoreet dolor ut libero convallis fringilla. In id metus est. Sed eget mauris tincidunt tortor tincidunt eleifend. Donec eget justo dictum, vulputate nisi eu, scelerisque purus. Morbi lacus odio, rutrum a nisi ut, posuere molestie augue. Praesent ultrices, turpis eu mollis vestibulum, neque libero tristique sapien, vel aliquam nunc nisi sed erat. Pellentesque consectetur convallis tincidunt. In bibendum, lorem varius porttitor pellentesque, dui ante vehicula justo, consequat accumsan massa est sed enim. Nam in quam nec erat dictum varius.
					.about__text.service-2nd.hide 	
						p ANTRAS   Praesent sed euismod eros.Praesent varius lacus nisl, suscipit iaculis mauris rhoncus nec. Vivamus a rhoncus orci. Maecenas eu nulla eget ex aliquet faucibus. Praesent ut malesuada arcu. Nam ut luctus sem, eget tempus purus. Nam leo purus, scelerisque eu dictum non, feugiat eu eros. Donec in ante nec quam varius suscipit vitae et eros. Praesent sed euismod eros.Praesent varius lacus nisl, suscipit iaculis mauris rhoncus nec. Vivamus a rhoncus orci. Maecenas eu nulla eget ex aliquet faucibus. Praesent ut malesuada arcu. Nam ut luctus sem, eget tempus purus. Nam leo purus, scelerisque eu dictum non, feugiat eu eros. 
						
						p Sed nec sapien ut magna placerat volutpat. Cras congue orci at mi luctus, ut congue odio tincidunt. Ut consequat convallis libero nec rutrum. Curabitur rutrum iaculis massa quis facilisis. Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urna. Vestibulum varius vitae dui in tempus. Integer sit amet porttitor eros. Suspendisse libero felis, rutrum eget aliquam sit amet, vehicula eget nunc. Aliquam lobortis facilisis urna eget commodo. Aliquam et arcu bibendum, bibendum eros vitae, varius tellus.

						p Nam ornare, nunc sit amet sodales congue, ligula augue porta nulla, vitae dictum lacus lacus eu sapien. Etiam maximus, libero at sollicitudin placerat, elit sapien placerat libero, id tempor purus purus quis dui. Integer libero est, pulvinar nec lacinia in, tincidunt a justo. Integer finibus sapien ac velit viverra vulputate. Integer ultrices, elit in blandit venenatis, est dolor dapibus arcu, in mattis mauris nibh ut tortor. Nam interdum ex non turpis pellentesque consequat. Mauris non ligula bibendum quam suscipit hendrerit non eu dui.

						p Phasellus id arcu augue. Suspendisse ornare nibh sit amet faucibus maximus. Integer mollis suscipit ante, eget euismod orci volutpat sit amet. Integer auctor mi tellus, at feugiat arcu consequat scelerisque. Donec laoreet dolor ut libero convallis fringilla. In id metus est. Sed eget mauris tincidunt tortor tincidunt eleifend. Donec eget justo dictum, vulputate nisi eu, scelerisque purus. Morbi lacus odio, rutrum a nisi ut, posuere molestie augue. Praesent ultrices, turpis eu mollis vestibulum, neque libero tristique sapien, vel aliquam nunc nisi sed erat. Pellentesque consectetur convallis tincidunt. In bibendum, lorem varius porttitor pellentesque, dui ante vehicula justo, consequat accumsan massa est sed enim. Nam in quam nec erat dictum varius.
					.about__text.service-3rd.hide
						p TRECIAS Fusce ultrices, tortor cursus elementum sollicitudin, ex sem blandit metus, ac vestibulum dolor lacus ac turpis.	Praesent varius lacus nisl, suscipit iaculis mauris rhoncus nec. Vivamus a rhoncus orci. Maecenas eu nulla eget ex aliquet faucibus. Praesent ut malesuada arcu. Nam ut luctus sem, eget tempus purus. Nam leo purus, scelerisque eu dictum non, feugiat eu eros. Donec in ante nec quam varius suscipit vitae et eros. Praesent sed euismod eros. Vivamus elit lacus, facilisis nec dui mattis, viverra cursus nibh. Duis faucibus tellus finibus mauris lacinia consectetur.
						p Sed nec sapien ut magna placerat volutpat. Cras congue orci at mi luctus, ut congue odio tincidunt. Ut consequat convallis libero nec rutrum. Curabitur rutrum iaculis massa quis facilisis. Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urna. Vestibulum varius vitae dui in tempus. Integer sit amet porttitor eros. Suspendisse libero felis, rutrum eget aliquam sit amet, vehicula eget nunc. Aliquam lobortis facilisis urna eget commodo. Aliquam et arcu bibendum, bibendum eros vitae, varius tellus.

						p Nam ornare, nunc sit amet sodales congue, ligula augue porta nulla, vitae dictum lacus lacus eu sapien. Etiam maximus, libero at sollicitudin placerat, elit sapien placerat libero, id tempor purus purus quis dui. Integer libero est, pulvinar nec lacinia in, tincidunt a justo. Integer finibus sapien ac velit viverra vulputate. Integer ultrices, elit in blandit venenatis, est dolor dapibus arcu, in mattis mauris nibh ut tortor. Nam interdum ex non turpis pellentesque consequat. Mauris non ligula bibendum quam suscipit hendrerit non eu dui.

						p Phasellus id arcu augue. Suspendisse ornare nibh sit amet faucibus maximus. Integer mollis suscipit ante, eget euismod orci volutpat sit amet. Integer auctor mi tellus, at feugiat arcu consequat scelerisque. Donec laoreet dolor ut libero convallis fringilla. In id metus est. Sed eget mauris tincidunt tortor tincidunt eleifend. Donec eget justo dictum, vulputate nisi eu, scelerisque purus. Morbi lacus odio, rutrum a nisi ut, posuere molestie augue. Praesent ultrices, turpis eu mollis vestibulum, neque libero tristique sapien, vel aliquam nunc nisi sed erat. Pellentesque consectetur convallis tincidunt. In bibendum, lorem varius porttitor pellentesque, dui ante vehicula justo, consequat accumsan massa est sed enim. Nam in quam nec erat dictum varius.
					.about__text.service-4th.hide 
						p KETVIRTAS Vivamus elit lacus, facilisis nec dui mattis, viverra cursus nibh. Fusce ultrices, tortor cursus elementum sollicitudin, ex sem blandit metus, ac vestibulum dolor lacus ac turpis. Praesent varius lacus nisl, suscipit iaculis mauris rhoncus nec. Vivamus a rhoncus orci. Maecenas eu nulla eget ex aliquet faucibus. Praesent ut malesuada arcu. Nam ut luctus sem, eget tempus purus. Nam leo purus, scelerisque eu dictum non, feugiat eu eros. Donec in ante nec quam varius suscipit vitae et eros. Praesent sed euismod eros. Vivamus elit lacus, facilisis nec dui mattis, viverra cursus nibh.
						
						p Sed nec sapien ut magna placerat volutpat. Cras congue orci at mi luctus, ut congue odio tincidunt. Ut consequat convallis libero nec rutrum. Curabitur rutrum iaculis massa quis facilisis. Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urna. Vestibulum varius vitae dui in tempus. Integer sit amet porttitor eros. Suspendisse libero felis, rutrum eget aliquam sit amet, vehicula eget nunc. Aliquam lobortis facilisis urna eget commodo. Aliquam et arcu bibendum, bibendum eros vitae, varius tellus.

						p Nam ornare, nunc sit amet sodales congue, ligula augue porta nulla, vitae dictum lacus lacus eu sapien. Etiam maximus, libero at sollicitudin placerat, elit sapien placerat libero, id tempor purus purus quis dui. Integer libero est, pulvinar nec lacinia in, tincidunt a justo. Integer finibus sapien ac velit viverra vulputate. Integer ultrices, elit in blandit venenatis, est dolor dapibus arcu, in mattis mauris nibh ut tortor. Nam interdum ex non turpis pellentesque consequat. Mauris non ligula bibendum quam suscipit hendrerit non eu dui.

						p Phasellus id arcu augue. Suspendisse ornare nibh sit amet faucibus maximus. Integer mollis suscipit ante, eget euismod orci volutpat sit amet. Integer auctor mi tellus, at feugiat arcu consequat scelerisque. Donec laoreet dolor ut libero convallis fringilla. In id metus est. Sed eget mauris tincidunt tortor tincidunt eleifend. Donec eget justo dictum, vulputate nisi eu, scelerisque purus. Morbi lacus odio, rutrum a nisi ut, posuere molestie augue. Praesent ultrices, turpis eu mollis vestibulum, neque libero tristique sapien, vel aliquam nunc nisi sed erat. Pellentesque consectetur convallis tincidunt. In bibendum, lorem varius porttitor pellentesque, dui ante vehicula justo, consequat accumsan massa est sed enim. Nam in quam nec erat dictum varius.
					.about__text.service-5th.hide
						p PENKTAS Maecenas eu nulla eget ex aliquet faucibus. Praesent ut malesuada arcu. Nam ut luctus sem, eget tempus purus.Praesent varius lacus nisl, suscipit iaculis mauris rhoncus nec. Vivamus a rhoncus orci. Maecenas eu nulla eget ex aliquet faucibus. Praesent ut malesuada arcu. Nam ut luctus sem, eget tempus purus. Nam leo purus, scelerisque eu dictum non, feugiat eu eros. Donec in ante nec quam varius suscipit vitae et eros. Praesent sed euismod eros. Vivamus elit lacus, facilisis nec dui mattis, viverra cursus nibh. Duis faucibus tellus finibus mauris lacinia consectetur. Fusce ultrices, tortor cursus elementum sollicitudin, ex sem blandit metus, ac vestibulum dolor lacus ac turpis. Praesent varius lacus nisl, suscipit iaculis mauris rhoncus nec. 
						
						p Sed nec sapien ut magna placerat volutpat. Cras congue orci at mi luctus, ut congue odio tincidunt. Ut consequat convallis libero nec rutrum. Curabitur rutrum iaculis massa quis facilisis. Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urna. Vestibulum varius vitae dui in tempus. Integer sit amet porttitor eros. Suspendisse libero felis, rutrum eget aliquam sit amet, vehicula eget nunc. Aliquam lobortis facilisis urna eget commodo. Aliquam et arcu bibendum, bibendum eros vitae, varius tellus.

						p Nam ornare, nunc sit amet sodales congue, ligula augue porta nulla, vitae dictum lacus lacus eu sapien. Etiam maximus, libero at sollicitudin placerat, elit sapien placerat libero, id tempor purus purus quis dui. Integer libero est, pulvinar nec lacinia in, tincidunt a justo. Integer finibus sapien ac velit viverra vulputate. Integer ultrices, elit in blandit venenatis, est dolor dapibus arcu, in mattis mauris nibh ut tortor. Nam interdum ex non turpis pellentesque consequat. Mauris non ligula bibendum quam suscipit hendrerit non eu dui.

						p Phasellus id arcu augue. Suspendisse ornare nibh sit amet faucibus maximus. Integer mollis suscipit ante, eget euismod orci volutpat sit amet. Integer auctor mi tellus, at feugiat arcu consequat scelerisque. Donec laoreet dolor ut libero convallis fringilla. In id metus est. Sed eget mauris tincidunt tortor tincidunt eleifend. Donec eget justo dictum, vulputate nisi eu, scelerisque purus. Morbi lacus odio, rutrum a nisi ut, posuere molestie augue. Praesent ultrices, turpis eu mollis vestibulum, neque libero tristique sapien, vel aliquam nunc nisi sed erat. Pellentesque consectetur convallis tincidunt. In bibendum, lorem varius porttitor pellentesque, dui ante vehicula justo, consequat accumsan massa est sed enim. Nam in quam nec erat dictum varius.
					.about__text.service-6th.hide 
						p SESTAS Praesent varius lacus nisl, suscipit iaculis mauris rhoncus nec. Vivamus a rhoncus orci.Praesent varius lacus nisl, suscipit iaculis mauris rhoncus nec. Vivamus a rhoncus orci. Maecenas eu nulla eget ex aliquet faucibus. Praesent ut malesuada arcu. Nam ut luctus sem, eget tempus purus. Nam leo purus, scelerisque eu dictum non, feugiat eu eros. Donec in ante nec quam varius suscipit vitae et eros. Praesent sed euismod eros. Vivamus elit lacus, facilisis nec dui mattis, viverra cursus nibh. Duis faucibus tellus finibus mauris lacinia consectetur. 
						
						p Sed nec sapien ut magna placerat volutpat. Cras congue orci at mi luctus, ut congue odio tincidunt. Ut consequat convallis libero nec rutrum. Curabitur rutrum iaculis massa quis facilisis. Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urna. Vestibulum varius vitae dui in tempus. Integer sit amet porttitor eros. Suspendisse libero felis, rutrum eget aliquam sit amet, vehicula eget nunc. Aliquam lobortis facilisis urna eget commodo. Aliquam et arcu bibendum, bibendum eros vitae, varius tellus.

						p Nam ornare, nunc sit amet sodales congue, ligula augue porta nulla, vitae dictum lacus lacus eu sapien. Etiam maximus, libero at sollicitudin placerat, elit sapien placerat libero, id tempor purus purus quis dui. Integer libero est, pulvinar nec lacinia in, tincidunt a justo. Integer finibus sapien ac velit viverra vulputate. Integer ultrices, elit in blandit venenatis, est dolor dapibus arcu, in mattis mauris nibh ut tortor. Nam interdum ex non turpis pellentesque consequat. Mauris non ligula bibendum quam suscipit hendrerit non eu dui.

						p Phasellus id arcu augue. Suspendisse ornare nibh sit amet faucibus maximus. Integer mollis suscipit ante, eget euismod orci volutpat sit amet. Integer auctor mi tellus, at feugiat arcu consequat scelerisque. Donec laoreet dolor ut libero convallis fringilla. In id metus est. Sed eget mauris tincidunt tortor tincidunt eleifend. Donec eget justo dictum, vulputate nisi eu, scelerisque purus. Morbi lacus odio, rutrum a nisi ut, posuere molestie augue. Praesent ultrices, turpis eu mollis vestibulum, neque libero tristique sapien, vel aliquam nunc nisi sed erat. Pellentesque consectetur convallis tincidunt. In bibendum, lorem varius porttitor pellentesque, dui ante vehicula justo, consequat accumsan massa est sed enim. Nam in quam nec erat dictum varius.
	

	
			
			
	+footer
	script(src="assets/scripts/jquery-1.12.4.min.js")
	script(src="assets/scripts/custom.js")
