$navColor: #05afa6
$hero: #1bbbb3
$Red: #d71440
$black: #000000
$paragraphGrey: #555555
$aboutGrey: #eaeef1

.container--full
	width: 100%
	

header
	background-color: $navColor
	padding: 10px 0 10px 0

	a.header__logo
		display: block
		float: left
		img
			width: 320px 
			
	.header__list
		margin-top: 10px
		float: right
		ul
			list-style: none;
			li
				padding: 15px
			
a
	text-decoration: none
	text-transform: uppercase
	color: #ffffff
	font-family: Gotham
	font-weight: 500
	font-size: 14px
	line-height: 15px
	&:hover
		color: #ffffff
		text-decoration: none



h1
	font-family: Gotham
	font-weight: 300
	font-size: 48px
	line-height: 58px
	color: #ffffff
	margin-top: 40px
	

h2		
	font-family: Gotham
	font-weight: bold
	font-size: 36px
	line-height: 58px
	color: $black

.h2--science
	font-size: 24px
	color: #ffffff

=h2		
	font-family: Gotham
	font-weight: bold
	font-size: 36px
	line-height: 58px
	color: $black

h3
	font-family: Gotham
	font-weight: bold
	font-size: 18px
	color: $black

p
	font-family: Gotham book
	font-weight: 300
	font-size: 14px
	line-height: 30px
	color: $paragraphGrey
	

section#hero
	background-color: $hero
	background-image: url(../images/inkstai.png) 
	background-repeat: no-repeat
	background-position: 98% center
	height: 555px
	
	.hero__content
		position: relative
		top: 50%
		transform: translatey(-50%)
		span.h1--state-bold
			font-weight: bold
		a.a--btn
			font-weight: bold
			padding: 20px 60px
			margin-top: 40px
			background-color: $Red
			display: inline-block
	
main
	background-color: #eaeef1	
	background-image: url(../images/burbulai.png) 
	background-repeat: no-repeat
	background-position: 17% center
	height: 400px
	.about__content
		position: relative
		top: 50%
		transform: translatey(-50%)	
	
.information
	
	height: 360px
	.information__blocks
		position: relative
		top: 50%
		transform: translatey(-50%)
	
a.a-information_block
	color: $Red
	font-weight: bold
	display: inline-block

footer
	display: block
	border-top: 1px solid #e0e6ea
	
	a.footer__logo
		display: block
		float: left
		img
			width: 185px
			padding: 50px 0 50px 0
	
	.footer__list
		margin-top: 50px
		float: right
		ul
			list-style: none;
			li
				padding: 8px

	.a--footer
		color:#999999
		font-size: 12px
		line-height: 15px
	
//About html

section#breadcrumb-list
	background-color: $aboutGrey


=breadcrumb_item_style
	font-family: Gotham
	font-weight: 500
	color: $paragraphGrey
	font-size: 12px
	line-height: 30px	
	text-transform: none

.breadcrumb-item
	+breadcrumb_item_style
	.a--breadcrumb
		+breadcrumb_item_style
		&:hover
			color: $paragraphGrey
			text-decoration: none	

.breadcrumb 
	padding: 0
	margin: 12px 0
	background-color: transparent
	
.breadcrumb>li+li:before
	padding: 0 5px
	color: #555555
	content: "►"

	



#about-page h1
	+h2
	text-align: center
	padding-bottom: 10px

#about-page article
	margin-bottom: 50px

aside
	height: 380px
	width: 365px
	margin-top: 10px
	
	
	blockquote
		display: block	
		width: calc(100% - 55px) 
		background-color: #1bbbb3
		position: relative
		transform: translatey(-50%)
		border: 1px solid #1bbbb3
		border-radius: 3px
		margin: 0 auto
		padding-left: 25px
		position: relative
		font-family: Gotham book
		font-weight: normal
		font-style: italic
		font-size: 16px
		line-height: 30px
		color: #ffffff
		background-image: url('../images/quot_03.png')
		background-repeat: no-repeat
		//background-size: 50px 40px
		background-position: top 10px right 30px
		
		
		&:before
			content: " "
			margin: 15px -15px
			position: absolute
			top: 0
			bottom: 0
			width: 4px
			background: #ffffff
			border: 1px solid #ffffff
			border-radius: 20px

	
		
	
//.about__pic__under p::before 
//	content: " "
//	margin: 0 -15px
//	position: absolute
//	top: 0
//	bottom: 0
//	width: 4px
//	height: 85px
//	background: #ffffff
//	border: 1px solid #ffffff
//	border-radius: 20px

//SERVICES

#services h1
	+h2
	text-align: center
	padding-bottom: 10px
	
.a--services__row
	justify-content: space-between;	
	text-transform: none
	//position: relative;
	height: 140px
	display: block
	border-top: 1px solid #e0e6ea
	border-bottom: 1px solid #e0e6ea

	&:hover 
		border-top: 1px solid $Red
		border-bottom: 1px solid $Red
		box-shadow: 0px 0px 16px 10px #efefef
		//padding: 0 30px
		//transform: scale(1.03, 1.03)
	&:hover h3
		color: $Red
	.services-arrow
		display: block
		margin-top: auto
		margin-bottom: auto

.flex
	display: flex
	flex-wrap: wrap;	
	.services__row__content
		width: 80%


main
	background-color: #eaeef1	
	background-image: url(../images/burbulai.png) 
	background-repeat: no-repeat
	background-position: 17% center
	height: 400px
	.about__content
		position: relative
		top: 50%
		transform: translatey(-50%)




//Services inside

#inside__service h1
	+h2
	//text-align: center
	padding-bottom: 10px
	
	
.inside__service__list
	transform: translatey(-15%)
	ul
		padding: 0
		list-style: none
		li
			border-top: solid 1px #d3dce2
			padding: 20px 
			font-size: 14px
			font-weight: bold
			background-color: $aboutGrey
			text-align: center
			&:last-child 
				border-bottom: solid 1px #d3dce2
			&:hover
				background-color: $Red 

=custom-heigth($min-height-px)
	min-height: $min-height-px

.custom
	+custom-heigth(700px)

//.hide
		display: none
	
//SCIENCE
#science h1
	+h2
	text-align: center

#science article p
	text-align: center

.h2--science
	font-size: 24px
	color: #ffffff

=science-columns($color)
	height: 300px
	background-color: $color
	padding: 0 50px 0 40px
	margin: 40px 0 50px 0
	
	p	
		color: #ffffff 
	.a--btn-science
		display: inline-block
		color: #000000
		line-height: 55px
		padding: 0 18px
		background-color: #ffffff 
		text-align: center
	
.projects
	+science-columns($hero)
	//.sitas
		position: relative
		top: 50%
		transform: translatey(-50%)

	
.publications
	+science-columns($Red)
	
//responsive	
  
	
@media all and (max-width:767px)
	.hero__content
		text-align: center
		h1
			font-size: 18px
			line-height: 30px
	.header__logo img
		display: none
		
	.header__logo
		background-image: url(../images/burbulai.png)
	
	.about__content h2
			font-size: 18px
			text-align: center	
	
	.information
		height: 560px	
	main
		height: 500px
		background-image: none
	section#hero
		height: 600px;
	.footer__logo
		margin-left: 15vw
	.footer__list
		display: none
	
	
@media all and (min-width:768px ) and (max-width:1024px)
	.information 
    height: 430px
	
	





	



















