$navColor: #05afa6
$hero: #1bbbb3
$Red: #d71440
$black: #000000
$paragraphGrey: #555555
$aboutGrey: #eaeef1
$borderGrey: #e0e6ea

.container--full
	width: 100%
	
header
	background-color: $navColor
	padding: 10px 0 10px 0

	a.header__logo
		display: block
		float: left
		img
			width: 320px 
			
	.header__list
		margin-top: 10px
		float: right
		ul
			list-style: none;
			li
				padding: 15px
			
a
	text-decoration: none
	text-transform: uppercase
	color: #ffffff
	font-family: Gotham
	font-weight: 500
	font-size: 14px
	line-height: 15px
	&:hover
		color: #ffffff
		text-decoration: none

#hero h1
	font-family: Gotham
	font-weight: 300
	font-size: 48px
	color: #ffffff
	margin-top: 40px
	text-align: left
	

h2		
	font-family: Gotham
	font-weight: bold
	font-size: 36px
	line-height: 58px
	color: $black
	margin-bottom: 20px


=h2		
	font-family: Gotham
	font-weight: bold
	font-size: 36px
	line-height: 58px
	color: $black

section h1
	+h2
	text-align: center
	//margin-bottom: 40px
	margin-top: 50px

h3
	font-family: Gotham
	font-weight: bold
	font-size: 18px
	color: $black



h4
	font-family: Gotham book
	font-weight: 300
	font-size: 14px
	color: $paragraphGrey

.h4--state-bold
	font-weight: bold	

p
	font-family: Gotham book
	font-weight: 300
	font-size: 14px
	line-height: 30px
	color: $paragraphGrey


p.p--smaller
	font-size: 13px
	line-height: 24px
	

section#hero
	background-color: $hero
	background-image: url(../images/inkstai.png) 
	background-repeat: no-repeat
	background-position: 98% center
	height: 555px
	
	.hero__content
		position: relative
		top: 50%
		transform: translatey(-50%)
		span.h1--state-bold
			font-weight: bold
		a.a--btn
			font-weight: bold
			padding: 20px 60px
			margin-top: 40px
			background-color: $Red
			display: inline-block
	
#index-about
	background-color: #eaeef1	
	background-image: url(../images/burbulai.png) 
	background-repeat: no-repeat
	background-position: 17% center
	height: 400px
	#index-about
		position: relative
		top: 50%
		transform: translatey(-50%)	

#information
	height: 360px
	.information__blocks__content
		padding-top: 95px
		//position: relative
		//top: 50%
		//transform: translatey(-50%)
			pa

		a.a-information_block
			color: $Red
			font-weight: bold
			display: inline-block

footer
	display: block
	border-top: 1px solid $borderGrey
	
	a.footer__logo
		display: block
		float: left
		img
			width: 185px
			padding: 50px 0 50px 0
	
	.footer__list
		margin-top: 50px
		float: right
		ul
			list-style: none;
			li
				padding: 8px

	.a--footer
		color:#999999
		font-size: 12px
		line-height: 15px
	
//ABOUT

section#breadcrumb-list
	background-color: $aboutGrey


=breadcrumb_item_style
	font-family: Gotham
	font-weight: 500
	color: $paragraphGrey
	font-size: 12px
	line-height: 30px	
	text-transform: none

.breadcrumb-item
	+breadcrumb_item_style
	.a--breadcrumb
		+breadcrumb_item_style
		&:hover
			color: $paragraphGrey
			text-decoration: none	

.breadcrumb 
	padding: 0
	margin: 5px 0 5px 0
	background-color: transparent
	
.breadcrumb>li+li:before
	padding: 0 5px
	color: #555555
	content: "►"


#about-page article
	margin-bottom: 50px

#about-page aside
	height: 380px
	width: 365px
	margin-top: 10px

	blockquote
		display: block	
		width: calc(100% - 55px) 
		background-color: #1bbbb3
		position: relative
		transform: translatey(-50%)
		border: 1px solid #1bbbb3
		border-radius: 3px
		margin: 0 auto
		padding-left: 25px
		font-family: Gotham book
		font-weight: normal
		font-style: italic
		font-size: 16px
		line-height: 30px
		color: #ffffff
		background-image: url('../images/quot_03.png')
		background-repeat: no-repeat
		//background-size: 50px 40px
		background-position: top 10px right 30px

		&:before
			content: " "
			margin: 15px -15px
			position: absolute
			top: 0
			bottom: 0
			width: 4px
			background: #ffffff
			border: 1px solid #ffffff
			border-radius: 20px


//SERVICES

#services
	padding-bottom: 60px


.a--services__row
	justify-content: space-between
	text-transform: none
	//position: relative;
	min-height: 140px
	display: block
	border-top: 1px solid $borderGrey
	border-bottom: 1px solid $borderGrey

	&:hover 
		border-top: 1px solid $Red
		border-bottom: 1px solid $Red
		box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15)
		padding: 0 28px 0 28px

	&:hover h3
		color: $Red
	.services-arrow
		display: block
		margin-top: auto
		margin-bottom: auto


.flex
	display: flex
	flex-wrap: wrap;	
	.services__row__content
		width: 80%


//SERVICES SINGLE

	
.a--service-btn
	text-transform: none
	color: #000000
	font-weight: 500
	//line-height: 60px

#inside__service
	padding-bottom: 60px
	h1
		margin-bottom: 0
		text-align: left
	aside
		margin-top: 60px

#inside__service nav

	ul
		padding: 0
		list-style: none
		li
			text-align: center
			border-top: solid 1px #d3dce2
			background-color: $aboutGrey

			&:last-child 
				border-bottom: solid 1px #d3dce2
			&:hover .a--service-btn
				color: #ffffff
			&:hover 
				background-color: $Red

			.a--service-btn
				position: relative
				display: block
				padding: 20px 
		
		
			.a--service-btn:before
					content: "■"
					color: $Red
					margin: 0px -18px
					width: 0
					height: 0
					position: absolute
						
			.a--service-btn:after
					content: " "
					margin: 0px 50px
					width: 0
					height: 0
					position: absolute
					border-style: solid
					border-width: 10px 0 10px 10px
					border-color: transparent transparent transparent 
		
			&:hover .a--service-btn:after
				border-color: transparent transparent transparent $Red
			&:hover .a--service-btn:before 
				color: #ffffff
					
		
		border-color: transparent transparent transparent $Red
				

		
=custom-heigth($min-height-px)
	min-height: $min-height-px

.custom
	min-height: 700px

.from-top
	padding-top: 60px

=from-top($padding-top)
	padding-top: $padding-top
	
//SCIENCE



#science
	margin-bottom: 60px	

p.subtitle
	text-align: center
	margin-bottom: 50px


	.h3--bigger
		font-size: 24px
		line-height: 30px
		color: #ffffff



=science-columns($color)
	min-height: 300px
	background-color: $color
	padding: 30px 50px 0 50px

	p	
		color: #ffffff 
	.a--btn-science
		display: inline-block
		color: #000000
		line-height: 55px
		padding: 0 18px
		background-color: #ffffff 
		text-align: center
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15)
		
		
	
.projects
	+science-columns($hero)
	background-image: url('../images/mikro.png')
	background-repeat: no-repeat
		//background-size: 50px 40px
	background-position: top 75px right 50px

	
.publications
	+science-columns($Red)
	background-image: url('../images/dnr.png')
	background-repeat: no-repeat
		//background-size: 50px 40px
	background-position: top 75px right 13px

.science__content
//	position: relative
//	top: 50%
//	transform: translatey(-50%)
//	

//PROJECTS

#projects 
	margin-bottom: 30px
	h1 
		margin-bottom: 40px
	.h3--projects
		font-size: 24px
	
	.project__box
		margin-bottom: 30px
		padding: 0 30px 0 30px
		border: 1px solid $borderGrey
		padding-top: 20px 
		.name-logo
			justify-content: space-between
			img 
				margin-top: 18px
				margin-right: 10px
				height: 30px		
	
a.a--btn-project
	display: inline-block
	font-size: 14px
	//line-height: 60px
	padding: 20px 20px
	//margin-bottom: 30px
	background-color: $Red
	box-shadow: 0px 0px 16px 10px #f1f1f1
	margin-bottom: 30px
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15)


//PUBLICATIONS
.publications__box	
	margin-bottom: 30px
.publications__box
  border: 1px solid $borderGrey
	
.number
	//display: inline-block
	font-size: 16px
	font-family: Gotham
	font-weight: 500
	color: #ffffff
	height: 30px
	width: 30px
	padding: 4px 11px
	background-color: $hero
	text-align: center

	
.publications__box	
	//max-height: 115px
	p.p--smaller
		padding: 0 25px 0 60px 

	

//TEAM
#team
	margin-bottom: 30px
	.team__member
		margin-bottom: 30px
		//min-height: 230px
		border: 1px solid $borderGrey	
		padding: 20px 30px 0px 30px
		
		.member__box__content

			justify-content: flex-start
			.team__member__photo
				margin-right: 20px
				
				img
					border-radius: 60%
					height: 70px
					width: 70px
		p.p--smaller
			padding-top: 30px


=from-top($padding-top)
	padding-top: $padding-top

//CONTACTS


#contact
	.h2--resized
		color: #000000
		margin-bottom: 30px
	a, p.contacts

		font-family: Gotham book
		font-weight: bold
		font-size: 16px
		line-height: 30px
		text-transform: none
		color: $Red
	img	
		padding-left: 9px
		//padding-right: 28px
	
	.contact__phone 
		justify-content: flex-start
		
		img
			height: 24px
	.contact_email 
		justify-content: flex-start
		img
			height: 16px
			
#kontaktai
	padding: 0

form

input, textarea
	border: 1px solid #bec7cd
	box-shadow: inset 2px 3px 7px 0px rgba(0, 0, 0, 0.05)
	margin-bottom: 20px
	width: 85%
	outline: none


::placeholder 
	font-family: Gotham book
	font-weight: 500
	font-size: 14px
	line-height: 30px
	color: #bec7cd
	//margin-top: 20px
	padding-left: 20px
	
textarea
	height: 150px	
	

input
	height: 45px
	//border: 1 px solid #bec7cd
	//box-shadow: inset 5px 16px 42px 8px #efefef


input[type='submit']
	background-color: $Red
	height: 50px
	width: 85%
	color: #ffffff
	text-transform: uppercase
	color: #ffffff
	font-family: Gotham
	font-weight: 500
	font-size: 14px
	//line-height: 60px
	border: none
	box-shadow: none

	
iframe
	margin: 0 auto
	height: 415px
	width: 100% 



//RESPONSIVE visus, kur buvo heigt surasius min-heigth galima nebekeisti jo per media?
	
@media all and (max-width:767px)
	
	.hero__content
	text-align: center
	h1
		font-size: 18px
		line-height: 30px
	
	.header__logo img
		display: none

	.header__logo
		background-image: url(../images/burbulai.png)

	.about__content h2
		font-size: 18px
		text-align: center	

	#information
		height: 560px	
	main
		height: 500px
		background-image: none
	section#hero
		height: 600px;
	.footer__logo
		margin-left: 15vw
	.footer__list
		display: none


@media all and (min-width:768px ) and (max-width:1024px)
	#information 
		height: 430px

	





	



















