.nav {
  background-color: #05afa6;
  padding: 10px 0 10px 0; }
  .nav .navbar-brand {
    margin-left: 100px;
    width: 325px; }

.nav__list {
  margin-right: 100px; }
  .nav__list ul {
    list-style: none; }
    .nav__list ul li {
      padding: 15px; }

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Gotham;
  font-weight: 300;
  font-size: 14px;
  line-height: 15px; }
  a:hover {
    color: #ffffff;
    text-decoration: none; }

h1 {
  font-family: Gotham;
  font-weight: 300;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff; }

h2 {
  font-family: Gotham;
  font-weight: bold;
  font-size: 36px;
  color: #000000; }

h3 {
  font-family: Gotham;
  font-weight: bold;
  font-size: 18px;
  color: #000000; }

p {
  font-family: Gotham book;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: #555555; }

.about__pic p {
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
  color: #ffffff; }

.pic__under_box {
  padding: 20px;
  background-color: #1bbbb3;
  border-left: 3px solid #ffffff; }

span.h1--state-bold {
  font-weight: bold; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.container--full {
  width: 100%; }

section#hero {
  background-color: #1bbbb3;
  background-image: url(../images/inkstai.jpg);
  background-repeat: no-repeat;
  background-position: 80% center;
  height: 555px; }
  section#hero .hero__content {
    position: relative;
    top: 50%;
    -webkit-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    transform: translatey(-50%); }
    section#hero .hero__content .hero__content__text a.a--btn {
      font-weight: bold;
      padding: 20px 56px;
      background-color: #d71440; }

.about__content {
  background-color: #eaeef1; }
  .about__content .about__content_container {
    height: 45vh; }
    .about__content .about__content_container .about__content_items {
      position: relative;
      top: 50%;
      -webkit-transform: translatey(-50%);
      -ms-transform: translatey(-50%);
      transform: translatey(-50%); }

.information__block {
  height: 360px; }
  .information__block:nth-child(2) {
    -webkit-transform: translatex(45px);
    -ms-transform: translatex(45px);
    transform: translatex(45px); }

.information__block:nth-child(3) {
  -webkit-transform: translatex(45px);
  -ms-transform: translatex(45px);
  transform: translatex(45px); }

.information__block__content {
  position: relative;
  top: 50%;
  -webkit-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  transform: translatey(-50%); }
  .information__block__content a.a-infoBlock {
    color: #d71440;
    font-weight: bold; }

.nav__footer {
  background-color: #ffffff;
  border-top: 1px solid #e0e6ea; }
  .nav__footer .a--footer {
    color: #999999;
    font-size: 12px;
    line-height: 15px; }

.li_footer {
  padding: 10px; }
