@charset "UTF-8";
.container--full {
  width: 100%; }

header {
  background-color: #05afa6;
  padding: 10px 0 10px 0; }
  header a.header__logo {
    display: block;
    float: left; }
    header a.header__logo img {
      width: 320px; }
  header .header__list {
    margin-top: 10px;
    float: right; }
    header .header__list ul {
      list-style: none; }
      header .header__list ul li {
        padding: 15px; }

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Gotham;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px; }
  a:hover {
    color: #ffffff;
    text-decoration: none; }

#hero h1 {
  font-family: Gotham;
  font-weight: 300;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  margin-top: 40px;
  text-align: left; }

h2 {
  font-family: Gotham;
  font-weight: bold;
  font-size: 36px;
  line-height: 58px;
  color: #000000;
  margin-bottom: 20px; }

section h1 {
  font-family: Gotham;
  font-weight: bold;
  font-size: 36px;
  line-height: 58px;
  color: #000000;
  text-align: center;
  margin-top: 50px; }

h3 {
  font-family: Gotham;
  font-weight: bold;
  font-size: 18px;
  color: #000000; }

h4 {
  font-family: Gotham book;
  font-weight: 300;
  font-size: 14px;
  color: #555555; }

.h4--state-bold {
  font-weight: bold; }

p {
  font-family: Gotham book;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  color: #555555; }

p.p--resized {
  font-size: 13px;
  line-height: 24px; }

section#hero {
  background-color: #1bbbb3;
  background-image: url(../images/inkstai.png);
  background-repeat: no-repeat;
  background-position: 98% center;
  height: 555px; }
  section#hero .hero__content {
    position: relative;
    top: 50%;
    -webkit-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    transform: translatey(-50%); }
    section#hero .hero__content span.h1--state-bold {
      font-weight: bold; }
    section#hero .hero__content a.a--btn {
      font-weight: bold;
      padding: 20px 60px;
      margin-top: 40px;
      background-color: #d71440;
      display: inline-block; }

main {
  background-color: #eaeef1;
  background-image: url(../images/burbulai.png);
  background-repeat: no-repeat;
  background-position: 17% center;
  height: 400px; }
  main .about__content {
    position: relative;
    top: 50%;
    -webkit-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    transform: translatey(-50%); }

.information {
  height: 360px; }
  .information .information__blocks {
    position: relative;
    top: 50%;
    -webkit-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    transform: translatey(-50%); }

a.a-information_block {
  color: #d71440;
  font-weight: bold;
  display: inline-block; }

footer {
  display: block;
  border-top: 1px solid #e0e6ea; }
  footer a.footer__logo {
    display: block;
    float: left; }
    footer a.footer__logo img {
      width: 185px;
      padding: 50px 0 50px 0; }
  footer .footer__list {
    margin-top: 50px;
    float: right; }
    footer .footer__list ul {
      list-style: none; }
      footer .footer__list ul li {
        padding: 8px; }
  footer .a--footer {
    color: #999999;
    font-size: 12px;
    line-height: 15px; }

section#breadcrumb-list {
  background-color: #eaeef1; }

.breadcrumb-item {
  font-family: Gotham;
  font-weight: 500;
  color: #555555;
  font-size: 12px;
  line-height: 30px;
  text-transform: none; }
  .breadcrumb-item .a--breadcrumb {
    font-family: Gotham;
    font-weight: 500;
    color: #555555;
    font-size: 12px;
    line-height: 30px;
    text-transform: none; }
    .breadcrumb-item .a--breadcrumb:hover {
      color: #555555;
      text-decoration: none; }

.breadcrumb {
  padding: 0;
  margin: 5px 0 5px 0;
  background-color: transparent; }

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #555555;
  content: "►"; }

#about-page article {
  margin-bottom: 50px; }

#about-page aside {
  height: 380px;
  width: 365px;
  margin-top: 10px; }
  #about-page aside blockquote {
    display: block;
    width: calc(100% - 55px);
    background-color: #1bbbb3;
    position: relative;
    -webkit-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    transform: translatey(-50%);
    border: 1px solid #1bbbb3;
    border-radius: 3px;
    margin: 0 auto;
    padding-left: 25px;
    font-family: Gotham book;
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    background-image: url("../images/quot_03.png");
    background-repeat: no-repeat;
    background-position: top 10px right 30px; }
    #about-page aside blockquote:before {
      content: " ";
      margin: 15px -15px;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 4px;
      background: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 20px; }

.a--services__row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: none;
  min-height: 140px;
  display: block;
  border-top: 1px solid #e0e6ea;
  border-bottom: 1px solid #e0e6ea; }
  .a--services__row:hover {
    border-top: 1px solid #d71440;
    border-bottom: 1px solid #d71440;
    -webkit-box-shadow: 0px 0px 25px 25px rgba(190, 199, 205, 0.3);
    box-shadow: 0px 0px 25px 25px rgba(190, 199, 205, 0.3); }
  .a--services__row:hover h3 {
    color: #d71440; }
  .a--services__row .services-arrow {
    display: block;
    margin-top: auto;
    margin-bottom: auto; }
    .a--services__row .services-arrow:hover {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex .services__row__content {
    width: 80%; }

.a--service-btn {
  text-transform: none;
  color: #000000;
  font-weight: 500; }

#inside__service h1 {
  margin-bottom: 0;
  text-align: left; }

#inside__service aside {
  margin-top: 60px; }

#inside__service nav ul {
  padding: 0;
  list-style: none;
  border-color: transparent transparent transparent #d71440; }
  #inside__service nav ul li {
    border-top: solid 1px #d3dce2;
    padding: 20px;
    background-color: #eaeef1; }
    #inside__service nav ul li:last-child {
      border-bottom: solid 1px #d3dce2; }
    #inside__service nav ul li:hover .a--service-btn {
      color: #ffffff; }
    #inside__service nav ul li:hover {
      background-color: #d71440; }
    #inside__service nav ul li .a--service-btn {
      position: relative; }
    #inside__service nav ul li .a--service-btn:after {
      content: " ";
      margin: 0px 74px;
      width: 0;
      height: 0;
      position: absolute;
      border-style: solid;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent; }
    #inside__service nav ul li:hover .a--service-btn:after {
      border-color: transparent transparent transparent #d71440; }

.custom {
  min-height: 700px; }

.from-top {
  padding-top: 60px; }

sub p {
  text-align: center;
  margin-bottom: 50px; }

.h2--resized {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff; }

.projects {
  min-height: 300px;
  background-color: #1bbbb3;
  padding: 30px 50px 0 40px;
  margin-bottom: 60px;
  background-image: url("../images/mikro.png");
  background-repeat: no-repeat;
  background-position: top 75px right 50px; }
  .projects p {
    color: #ffffff; }
  .projects .a--btn-science {
    display: inline-block;
    color: #000000;
    line-height: 55px;
    padding: 0 18px;
    background-color: #ffffff;
    text-align: center;
    -webkit-box-shadow: 7px 8px 12px 1px rgba(63, 57, 57, 0.35);
    box-shadow: 7px 8px 12px 1px rgba(63, 57, 57, 0.35); }

.publications {
  min-height: 300px;
  background-color: #d71440;
  padding: 30px 50px 0 40px;
  margin-bottom: 60px;
  background-image: url("../images/dnr.png");
  background-repeat: no-repeat;
  background-position: top 75px right 13px; }
  .publications p {
    color: #ffffff; }
  .publications .a--btn-science {
    display: inline-block;
    color: #000000;
    line-height: 55px;
    padding: 0 18px;
    background-color: #ffffff;
    text-align: center;
    -webkit-box-shadow: 7px 8px 12px 1px rgba(63, 57, 57, 0.35);
    box-shadow: 7px 8px 12px 1px rgba(63, 57, 57, 0.35); }

#projects .h2--projects {
  font-size: 24px;
  line-height: 30px; }

#projects .project__box {
  margin-bottom: 30px;
  height: 275px;
  border: 1px solid #e0e6ea;
  padding-top: 20px; }
  #projects .project__box .name-logo {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #projects .project__box .name-logo img {
      margin-top: 30px;
      height: 30px; }

a.a--btn-project {
  display: inline-block;
  font-size: 14px;
  padding: 20px 20px;
  background-color: #d71440;
  -webkit-box-shadow: 0px 0px 16px 10px #f1f1f1;
  box-shadow: 0px 0px 16px 10px #f1f1f1;
  margin-bottom: 30px;
  -webkit-box-shadow: 2px 7px 25px 3px rgba(63, 57, 57, 0.3);
  box-shadow: 2px 7px 25px 3px rgba(63, 57, 57, 0.3); }

.publications__box {
  border: 1px solid #e0e6ea; }

.number {
  font-size: 16px;
  font-family: Gotham;
  font-weight: 500;
  color: #ffffff;
  height: 30px;
  width: 30px;
  padding: 4px 11px;
  background-color: #1bbbb3;
  text-align: center; }

.publications__box {
  max-height: 115px; }
  .publications__box p.p--resized {
    padding: 0 25px 0 60px; }

#team .team__member {
  margin-bottom: 30px;
  min-height: 230px;
  border: 1px solid #e0e6ea;
  padding: 20px 35px 0px 15px; }
  #team .team__member .member__box__content {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    #team .team__member .member__box__content .team__member__photo {
      margin-right: 20px; }
      #team .team__member .member__box__content .team__member__photo img {
        border-radius: 60%;
        height: 70px;
        width: 70px; }
  #team .team__member p.p--resized {
    padding-top: 20px; }

#team .from-top {
  padding-top: 30px; }

#contact .h2--resized {
  color: #000000;
  margin-bottom: 30px; }

#contact a, #contact p.contacts {
  font-family: Gotham book;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: none;
  color: #d71440; }

#contact img {
  padding-left: 9px; }

#contact .contact__phone {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #contact .contact__phone img {
    height: 24px; }

#contact .contact_email {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #contact .contact_email img {
    height: 16px; }

#kontaktai {
  padding: 0; }

input, textarea {
  border: 1px solid #bec7cd;
  -webkit-box-shadow: inset 7px 8px 12px 1px rgba(190, 199, 205, 0.35);
  box-shadow: inset 7px 8px 12px 1px rgba(190, 199, 205, 0.35);
  margin-bottom: 20px;
  width: 100%;
  outline: none; }

::-webkit-input-placeholder {
  font-family: Gotham book;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #bec7cd;
  padding-left: 20px; }

:-ms-input-placeholder {
  font-family: Gotham book;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #bec7cd;
  padding-left: 20px; }

::-ms-input-placeholder {
  font-family: Gotham book;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #bec7cd;
  padding-left: 20px; }

::placeholder {
  font-family: Gotham book;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #bec7cd;
  padding-left: 20px; }

textarea {
  height: 150px; }

input {
  height: 45px; }

input[type='submit'] {
  background-color: #d71440;
  height: 50px;
  width: 100%;
  color: #ffffff;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Gotham;
  font-weight: 500;
  font-size: 14px;
  border: none; }

iframe {
  margin: 0 auto;
  height: 415px;
  width: 100%; }

@media all and (max-width: 767px) {
  text-align: center;
  #hero h1 {
    font-size: 18px;
    line-height: 30px; }
  .header__logo img {
    display: none; }
  .header__logo {
    background-image: url(../images/burbulai.png); }
  .about__content h2 {
    font-size: 18px;
    text-align: center; }
  .information {
    height: 560px; }
  main {
    height: 500px;
    background-image: none; }
  section#hero {
    height: 600px; }
  .footer__logo {
    margin-left: 15vw; }
  .footer__list {
    display: none; } }

@media all and (min-width: 768px) and (max-width: 1024px) {
  .information {
    height: 430px; } }
