doctype html
html(lang="en")
	head

	include head.pug
	include includes/mixins.pug	

		
	body

		include includes/header.pug
		
		section#breadcrumb-list
			.container--full
				.container

					ul.breadcrumb
						li.breadcrumb-item
							a.a--breadcrumb(href='index.html') Pagrindinis
						li.breadcrumb-item(aria-current='page') 
							span Kontaktai
							
		section#contact
			.container
				.row
					.col-md-12
						h1 Kontaktai
						
				.row
					.col-md-8.col-md-offset-2
						sub
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget vulputate libero, fermentum ornare sem. Maecenas maximus sagittis ante non dapibus.
							
				.row
					.col-md-2#kontaktai

							h2.h2--resized Kontaktai
							.contact__phone.flex
								img(src='../assets/images/phone.png', alt='phone')
								p.contacts +370 633 99889
							.contact_email.flex
								img(src='../assets/images/mail.png', alt='mail')
								a.a--contact(href="mailto:jonaitis@gmail.com") jonaitis@gmail.com	
								


					.col-md-6
						.col-md-12
							.col-md-8.col-md-offset-2
								h2.h2--resized Susisiekti
							
								form(method='POST', enctype='multipart/form-data')

											input(type='text', name='name', placeholder='Jūsų vardas')

											input(type='email', name='email', placeholder='El.pašto adresas')

											input(type='text', name='phone', placeholder='Telefono numeris')

											textarea( name='subject', placeholder='Žinutė')

											input(type='submit', value='Siųsti')

					.col-md-4
						h2.h2--resized Mes žemėlapyje
						.map

							iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2305.5430784866576!2d25.27828471622917!3d54.7000678811013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dd9401ebc2f8bb%3A0xbe687d6023b2db0c!2sKint%C5%B3+g.+32%2C+Vilnius+09301!5e0!3m2!1sen!2slt!4v1539197152498" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
		.from-top
		include includes/footer.pug
				