doctype html
html(lang="en")
	head
	include head.pug
	
	include includes/mixins.pug	
	
		
	body

		include includes/header.pug
			

		section#hero
			.hero__content
				.container
					.row
						.col-lg-8.col-md-8
							h1 Retų inkstų ligų ir urogenitalinės sistemos formavimosi ydų 
								span.h1--state-bold kompetencijos centras
							a.a--btn(href="index.html") Paslaugos
	
							
							
							
		main
			section#index-about
				.container
					.row
						.col-lg-8.col-md-8.col-md-offset-4
								h2 Apie centrą
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget vulputate libero, fermentum ornare sem. Maecenas maximus sagittis ante non dapibus. Sed ut erat posuere, viverra est eget, iaculis est. Aliquam ac purus urna. Praesent viverra ex felis, at rutrum diam malesuada non. Aliquam eu faucibus odio, nec eleifend risus. 
								p Nam varius facilisis augue, ut ullamcorper nisi rhoncus eget. Aenean et tortor pretium, cursus ipsum ac paskutine matoma eilute?
								
						


		section#information
			.container
				.row
					.col-lg-4.col-md-4

						//mixin information_blocks(title, text, link, link_headline)
						.information__blocks__content
							+information_blocks("Paslaugos", 
							"Aenean venenatis fringilla nulla, sed dapibus ligula consectetur sed. Donec posuere elit non dolor blandit venenatis.", 
							"index.html", 
							"Paslaugos")
					.col-lg-4.col-md-4
						.information__blocks__content
							+information_blocks("Bendra informacija", 
							"Nullam ullamcorper, lectus sit amet vestibulum efficitur, odio ante posuere sapien, eget euismod mi enim mattis.", "#",
							"Bendra informacija")
					.col-lg-4.col-md-4
						.information__blocks__content
							+information_blocks("Apie ligas", 
							"Nullam ullamcorper, lectus sit amet vestibulum efficitur, odio ante posuere sapien, eget euismod mi enim mattis nibh. Aenean eleifend auctor aliquam.", "#",
							"Apie ligas ")

		include includes/footer.pug


		//include includes/js.pug

									
									



