doctype html
html(lang="en")
	head
	
	include head.pug
	include includes/mixins.pug	
	
		
	body

		include includes/header.pug
		
		section#breadcrumb-list
			.container--full
				.container

					ul.breadcrumb
						li.breadcrumb-item
							a.a--breadcrumb(href='index.html') Pagrindinis
						li.breadcrumb-item
							a.a--breadcrumb(href='science.html') Mokslas
						li.breadcrumb-item(aria-current='page') 
							span Projektai
							
		section#projects
			.container
				.row
					.col-md-12
						h1 Projektai
	
				.row
					.col-md-6
						.col-md-12.project__box
							.name-logo.flex
								h2.h2--projects Projekto pavadinimas
								img(src='../assets/images/project_logo_03.png', alt='logo project')
							p.p--resized Sed nec sapien ut magna placerat volutpat. Cras congue orci at mi luctus, ut congue odio tincidunt. Ut consequat convallis libero nec rutrum. Curabitur rutrum iaculis massa quis facilisis. Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urna. 
							a.a--btn-project(href="#") peržiūrėti projektą
							

					.col-md-6
						.col-md-12.project__box
							.name-logo.flex
								h2.h2--projects Projekto pavadinimas
								img(src='../assets/images/project_logo_03.png', alt='logo project')
								p.p--resized Sed nec sapien ut magna placerat volutpat. Cras congue orci at mi luctus, ut congue odio tincidunt. Ut consequat convallis libero nec rutrum. Curabitur rutrum iaculis massa quis facilisis. Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urna. 
								a.a--btn-project(href="#") peržiūrėti projektą				

							
				.row

					+project2("test pav", "Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urna. Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urna. Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urna. ")
					
					+project2("test 2", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget vulputate libero, fermentum ornare sem. Maecenas maximus sagittis ante non dapibus. Sed ut erat posuere, viverra est eget, iaculis est. Aliquam ac purus urna.")
				.row
					
					+project2("test 2", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget vulputate libero, fermentum ornare sem. Maecenas maximus sagittis ante non dapibus. Sed ut erat posuere, viverra est eget, iaculis est. Aliquam ac purus urna.")
					
					+project2("test pav", "Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urna. Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urna. Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urna. ")
					
	.from-top
							
			
		
	include includes/footer.pug


//	include includes/js.pug