doctype html
html(lang="en")
	head

	include head.pug
	include includes/mixins.pug	

		
	body

		include includes/header.pug

		section#breadcrumb-list
			.container--full
				.container

					ul.breadcrumb
						li.breadcrumb-item
							a.a--breadcrumb(href='index.html') Pagrindinis
						li.breadcrumb-item
							a.a--breadcrumb(href='science.html') Mokslas
						li.breadcrumb-item(aria-current='page') 
							span Publikacijos
							
		section#publications
			.container
				.row
					.col-md-12
						h1 Publikacijos
				.row
					.col-md-8.col-md-offset-2
						sub
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget vulputate libero, fermentum ornare sem. Maecenas maximus sagittis ante non dapibus.
				.row
					.col-md-12
						.publications__box.flex
							.number 1
							p.p--resized Mačiulaitis J, Deveikytė M, Rekštytė S, Bratchikov M, Darinskas A, Šimbelytė A, Daunoras G, Laurinavičienė A, Laurinavičius A, Gudas R, Malinauskas M, Mačiulaitis R. Preclinical study of SZ2080 material 3D microstructured scaffolds for cartilage tissue engineering made by femtosecond direct laser writing lithography. Biofabrication. 2015 Mar 23;7(1):015015
							
				//mixin publication(publicationNumber, authorsAndTitle )	
				
				+publication("2","Michalek J, Moster R, Lukac L, Proefrock K, Petrasovic M, Rybar J, Capkova M, Chaloupka A, Darinskas A, Michalek J Sr, Kristek J, Travnik J, Jabandziev P, Cibulka M, Holek M, Jurik M, Skopalik J, Kristkova Z, Dudasova Z. Autologous adipose tissue-derived stromal vascular fraction cells application in patients with osteoarthritis Cell Transplant. 2015 Jan 20")
				+publication("3","Liubavičiūtė A, Kraśko JA, Mlynska A, Lagzdina J, Sužiedėlis K, Pašukonienė V. Evaluation of low-dose proton beam radiation efficiency in MIA PaCa-2 pancreatic cancer cell line vitality and H2AX formation. Medicina (Kaunas). 2015 Nov;51(5):302-6.")
				+publication("4"," Mačiulaitis J, Deveikytė M, Rekštytė S, Bratchikov M, Darinskas A, Šimbelytė A, Daunoras G, Laurinavičienė A, Laurinavičius A, Gudas R, Malinauskas M, Mačiulaitis R. Preclinical study of SZ2080 material 3D microstructured scaffolds for cartilage tissue engineering made by femtosecond direct laser writing lithography. Biofabrication. 2015 Mar 23;7(1):015015 ")
				+publication("5"," Mačiulaitis J, Deveikytė M, Rekštytė S, Bratchikov M, Darinskas A, Šimbelytė A, Daunoras G, Laurinavičienė A, Laurinavičius A, Gudas R, Malinauskas M, Mačiulaitis R. Preclinical study of SZ2080 material 3D microstructured scaffolds for cartilage tissue engineering made by femtosecond direct laser writing lithography. Biofabrication. 2015 Mar 23;7(1):015015 ")
				
				+publication("6", "Liubavičiūtė A, Kraśko JA, Mlynska A, Lagzdina J, Sužiedėlis K, Pašukonienė V. Evaluation of low-dose proton beam radiation efficiency in MIA PaCa-2 pancreatic cancer cell line vitality and H2AX formation. Medicina (Kaunas). 2015 Nov;51(5):302-6.")
				

				
				.from-top
			include includes/footer.pug


							
							
