doctype html
html(lang="en")
	head

	title Kompetencijos centras
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width", initial-scale=1) 

	link(rel="stylesheet", href="../assets/css/bootstrap.min.css")
	link(rel="stylesheet", href="../assets/css/bootstrap-theme.min.css")
	link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
	link(rel="stylesheet", href="../assets/css/style.css")
	link(rel="stylesheet", href="../assets/fonts/stylesheet.css")
	include includes/mixins.pug	
	include includes/mixins.pug
		
	body

		+header

		section#breadcrumb-list
			.container--full
				.container

					ul.breadcrumb
						li.breadcrumb-item
							a.a--breadcrumb(href='index.html') Pagrindinis
						li.breadcrumb-item
							a.a--breadcrumb(href='science.html') Mokslas
						li.breadcrumb-item(aria-current='page') 
							span Publikacijos
							
		section#publications
			.container
				.row
					.col-md-12
						h1 Publikacijos
				.row
					.col-md-8.col-md-offset-2
						sub
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget vulputate libero, fermentum ornare sem. Maecenas maximus sagittis ante non dapibus.
				.row
					.col-md-12
						.publications__box.flex
							.number 1
							p.p--publications Mačiulaitis J, Deveikytė M, Rekštytė S, Bratchikov M, Darinskas A, Šimbelytė A, Daunoras G, Laurinavičienė A, Laurinavičius A, Gudas R, Malinauskas M, Mačiulaitis R. Preclinical study of SZ2080 material 3D microstructured scaffolds for cartilage tissue engineering made by femtosecond direct laser writing lithography. Biofabrication. 2015 Mar 23;7(1):015015
