doctype html
html(lang="en")
	head

	title Kompetencijos centras
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width", initial-scale=1) 

	link(rel="stylesheet", href="../assets/css/bootstrap.min.css")
	link(rel="stylesheet", href="../assets/css/bootstrap-theme.min.css")
	link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
	link(rel="stylesheet", href="../assets/css/style.css")
	link(rel="stylesheet", href="../assets/fonts/stylesheet.css")
	include includes/mixins.pug	
	include includes/mixins.pug
		
	body

		+header
		
		section#breadcrumb-list
			.container--full
				.container

					ul.breadcrumb
						li.breadcrumb-item
							a.a--breadcrumb(href='index.html') Pagrindinis
						li.breadcrumb-item(aria-current='page') 
							span Mokslas
							
		section#science
			.container
				.row
					.col-md-12
						h1 Mokslas
				.row
					.col-md-8.col-md-offset-2
						sub
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget vulputate libero, fermentum ornare sem. Maecenas maximus sagittis ante non dapibus.
				.row
					.col-md-6
						.projects
							.col-md-12
								.science__content
									h2.h2--resized Projektai
									p Praesent varius lacus nisl, suscipit iaculis mauris rhoncus nec. Vivamus a rhoncus orci. Maecenas eu nulla eget ex aliquet faucibus. Nam leo purus, scelerisque eu dictum non.
									a.a--btn-science(href="projects.html") peržiūrėti projektus	
								
					.col-md-6
						.publications
							.col-md-12
								.science__content
									h2.h2--resized Publikacijos
									p Donec in ante nec quam varius suscipit vitae et eros. Praesent sed euismod eros. Vivamus elit lacus, facilisis nec dui mattis, viverra cursus nibh. Duis faucibus tellus finibus mauris.
									a.a--btn-science(href="publications.html") peržiūrėti publikacijas		

		
		
		
		+footer


//include includes/js.pug
