doctype html
html(lang="en")
	head

	include head.pug
	include includes/mixins.pug	

	body
		
		include includes/header.pug	


		section#breadcrumb-list
			.container--full
				.container

					ul.breadcrumb
						li.breadcrumb-item
							a.a--breadcrumb(href='index.html') Pagrindinis 
						li.breadcrumb-item(aria-current='page')
							span Paslaugos

		section#services
			.container
				.row
					.col-sm-12
						h1 Paslaugos
						
			.container
				.row
					.col-sm-12
						a.a--services__row.flex(href='services-single.html')
							.services__row__content
								h3 Paslauga 1
								p Donec test vel vulputate lorem. Sed convallis a nulla eget auctor. Maecenas ut egestas justo. Cras egestas mauris eu ex blandit, sollicitudin suscipit lectus lobortis. Integer id laoreet lectus. Nunc lobortis auctor ligula, quis ullamcorper augue finibus et.
							.services-arrow 
								img(src='../assets/images/arrow.png', alt='arrow')
			//mixin services(link, title, intro)
			+services("#", "Paslauga DU", "Donec DU vel vulputate lorem. Sed convallis a nulla eget auctor. Maecenas ut egestas justo. Cras egestas mauris eu ex blandit, sollicitudin suscipit lectus lobortis. Integer id laoreet lectus. Nunc lobortis auctor ligula, quis ullamcorper augue finibus et.")
			+services("#", "Paslauga TRYS", "Donec TRYS vel vulputate lorem. Sed convallis a nulla eget auctor. Maecenas ut egestas justo. Cras egestas mauris eu ex blandit, sollicitudin suscipit lectus lobortis. Integer id laoreet lectus. Nunc lobortis auctor ligula, quis ullamcorper augue finibus et.")
			+services("#", "Paslauga test", "Donec test vel vulputate lorem. Sed convallis a nulla eget auctor. Maecenas ut egestas justo. Cras egestas mauris eu ex blandit, sollicitudin suscipit lectus lobortis. Integer id laoreet lectus. Nunc lobortis auctor ligula, quis ullamcorper augue finibus et.")
			+services("#", "Paslauga DU", "Donec DU vel vulputate lorem. Sed convallis a nulla eget auctor. Maecenas ut egestas justo. Cras egestas mauris eu ex blandit, sollicitudin suscipit lectus lobortis. Integer id laoreet lectus. Nunc lobortis auctor ligula, quis ullamcorper augue finibus et.")
			+services("#", "Paslauga TRYS", "Donec TRYS vel vulputate lorem. Sed convallis a nulla eget auctor. Maecenas ut egestas justo. Cras egestas mauris eu ex blandit, sollicitudin suscipit lectus lobortis. Integer id laoreet lectus. Nunc lobortis auctor ligula, quis ullamcorper augue finibus et.")
		


		include includes/footer.pug
		//include includes/js.pug
						