doctype html
html(lang="en")
	head

	include head.pug
	include includes/mixins.pug	

		
	body

		include includes/header.pug
		
		section#breadcrumb-list
			.container--full
				.container

					ul.breadcrumb
						li.breadcrumb-item
							a.a--breadcrumb(href='index.html') Pagrindinis
						li.breadcrumb-item(aria-current='page') 
							span Komanda
							
		section#team
			.container
				.row
					.col-md-12
						h1 Gydytojai
						
				.row
					.col-md-8.col-md-offset-2
		
						p.subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget vulputate libero, fermentum ornare sem. Maecenas maximus sagittis ante non dapibus.
							
				.row
				
					.col-md-6
						.team__member
							.member__box__content.flex
								.team__member__photo
									img(src='../assets/images/doctor.jpg', alt='member')
								.team__member__name
									h4.h4--state-bold Vardas Pavarde
									h4 pareigos
							p.p--smaller Sed nec sapien ut magna placerat volutpat. Cras congue orci at mi luctus, ut congue odio tincidunt. Ut consequat convallis libero nec rutrum. Curabitur rutrum iaculis massa quis facilisis. Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urnasection.	
					
					//mixin member(fullname, position, aboutMember)
										
					+member("jonas jonaitis","vyr. gydytojas", " Sed nec sapien ut magna placerat volutpat. Cras congue orci at mi luctus, ut congue odio tincidunt. Ut consequat convallis libero nec rutrum. Curabitur rutrum iaculis massa quis facilisis. Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urnasection.	")
					
					+member("petras jonaitis", "pareigos nr. 2", "Sed nec sapien ut magna placerat volutpat. Cras congue orci at mi luctus, ut congue odio tincidunt. Ut consequat convallis libero nec rutrum. Curabitur rutrum iaculis massa quis facilisis. Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urnasection. ")
					
					+member("jonas jonaitis", "pareigos nr. 2", "Sed nec sapien ut magna placerat volutpat. Cras congue orci at mi luctus, ut congue odio tincidunt. Ut consequat convallis libero nec rutrum. Curabitur rutrum iaculis massa quis facilisis. Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urnasection.")
						
					+member("vytis vytis","vyr. gydytojas", "Sed nec sapien ut magna placerat volutpat. Cras congue orci at mi luctus, ut congue odio tincidunt. Ut consequat convallis libero nec rutrum. Curabitur rutrum iaculis massa quis facilisis. Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urnasection.")
					
					+member("jonas jonaitis", "pareigos nr. 2", "Sed nec sapien ut magna placerat volutpat. Cras congue orci at mi luctus, ut congue odio tincidunt. Ut consequat convallis libero nec rutrum. Curabitur rutrum iaculis massa quis facilisis. Etiam dapibus diam id condimentum commodo. Sed id aliquet erat, id imperdiet urnasection.")

		
		include includes/footer.pug
				